---
layout: default
---
<section class="intro">
  <div class="intro-photo">
    <img src="{{ site.author.photo | relative_url }}" alt="Portrait of {{ site.author.name }}" width="600" height="600">
  </div>
  <div>
    <h1 class="intro-name">{{ site.author.name }}</h1>
    <p class="intro-role">
      {{ site.author.role }}<br>
      <a href="{{ site.author.affiliation_url }}">{{ site.author.affiliation }}</a><br>
      {{ site.author.location }}
    </p>
    <ul class="links">
      {% for link in site.links %}<li><a href="{{ link.url | relative_url }}">{{ link.name }}</a></li>{% endfor %}
    </ul>
  </div>
</section>

<div class="about">
{{ content }}
</div>

{% assign posts = site.posts | slice: 0, 3 %}
{% if posts.size > 0 %}
<h2>Latest from the blog</h2>
<ul class="post-list">
  {% for post in posts %}
  <li>
    <p class="post-meta">{{ post.date | date: "%-d %B %Y" }}</p>
    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}
